# NSS configuration snippet for SURVIVE OS
# Merge these entries into /etc/nsswitch.conf

passwd:     files sss
group:      files sss
shadow:     files sss
netgroup:   files sss
sudoers:    files sss
